body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    display: flex;
    width: 90%;
}
section{
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 30px;
}

.box{
    width: 300px;
    height: 200px;
    margin: 30px;
    border-radius: 20px;
    display: flex;
    align-content: center;
    flex-direction: column;
    border: 3px solid black;

}
h1{
    text-align: center;
    font-family: 'Catamaran';
    font-size: 26px;
    font-weight: 800;
}
h2{
    text-align: center;
    font-family: 'Quattrocento Sans';
    font-size: 22px;
    text-decoration: underline;
}
h3{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
h4{
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 18px;
    font-style: italic
}
h5{
    text-align: center;
    font-size: 13px;
}
h6{
    text-align: center;
    font-size: 5px;
}
p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
/* Color Section */
.colors_list{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#color{
    border: 5px solid darkblue;
}
#blue{
    background-color: #00008b;
}
#orange{
    background-color: #ffa500;
}
#green{
    background-color: #008000;
}
#coral{
    background-color: #ff7f50;
}
#almond{
    background-color: #ffebcd;
}

/* Font Section */
#fonts{
    border: 5px solid orange;
}
.fonts_list{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#styles{
    border: 5px solid green;
}

.organisation{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.style_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    width: 40%;
}
